<div class="container" ng-controller="indexCtrl as indexVm">
	<div class="row">
		<div class="col s12" id="logincontainer">
			<div class="card z-depth-5 ">
				<div class="card-content">
					<p class="justify flow-text titulo"><strong>Te damos la bienvenida a Iconic</strong></p>
					<br>
					<div class="row">
						<p class="justify texto">Hola <strong>{{indexVm.loginFactory.user.nombre}}</strong>, hemos activado la verificación de dos pasos para tu cuenta,
							se ha enviado a tu correo institucional un código de verificación, introdúcelo a continuación para proceder con la
							verificación de tu cuenta:</p>
					</div>

					<form name="verificarForm" autocomplete="off" ng-submit="verificacionVm.validar()">
						<div class="row">
							<div class="input-field col l9 s7 cajasombra">
								<input ng-model="verificacionVm.codigo" class="validate" type="text" id="codigoVerificacion" name="codigo" maxlength="6"
								 data-length="6" required>
								<label class="cajasombra" for="codigo">Código de verificación</label>
							</div>

							<div class="input-field col s3 botonverificar" style="padding-top: 1.5%;">
								<button ng-disabled="verificarForm.$invalid" type="submit" class="waves-effect waves-light btn">Verificar</button>
							</div>
							<div class="p-r-26p right">
								<a href="" ng-click="verificacionVm.reenviar()">Volver a enviar el código</a>
							</div>
						</div>
							

					</form>
				</div>
				<div class="card-action amber lighten-1 footerlogin">
					<p class="left">Iconic <i class="tiny material-icons">&#xE90C;</i> 2017</p>
				</div>
			</div>
		</div>
	</div>
</div>