<link rel="stylesheet" type="text/css" href="css/apartados.css">

<div ng-show="aAsesoriasForm.$pristine" class="alert alert-info contenido container contenido-alert">
    <a class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <strong>¡Importante!</strong> Recuerda siempre agregar todas tus asesorías en proyectos antes de presionar el botón "Guardar Apartado".
</div>

<form name="aAsesoriasForm" autocomplete="off" ng-submit="asesoriasVm.aAsesorias()">
<div class="container white contenido"> 
    <div class="row">
        <div class="col s12">
                <table class="table">
                    <thead>
                        <tr>
                            <th><input type="checkbox" ng-model="selectedAll" ng-click="asesoriasVm.checkAllAse()" /></th>
                            <th>*Integrantes del Equipo</th>
                            <th>*Título</th>
                            <th>*Aspectos Relevantes del Trabajo</th>
                            <th>*Dedicación Horas Semestre</th>
                            <th>Evaluación Estudiante</th>
                            <th>Evaluación Jefe</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="ase in asesoriasVm.asesorias">
                            <td><input name="" type="checkbox" ng-model="ase.selected" /></td>
                            <td><input name="integrantes" type="text" class="form-control validate" ng-model="ase.integrantes" required/></td>
                            <td> <input name="titulo" type="text" class="form-control validate" ng-model="ase.titulo" required/> </td>
                            <td> <input name="aspectos" type="text" class="form-control validate" ng-model="ase.aspectos" required/> </td>
                            <td> <input name="horas_semestrales" type="number" class="form-control validate" min="1" max="900" ng-model="ase.horas_semestrales" required/> </td>
                            <td> <input name="estudiante" type="number" class="form-control validate" min="1" max="5" ng-model="ase.estudiante" /> </td>
                            <td> <input name="jefe" type="number" class="form-control validate" min="1" max="5" ng-model="ase.jefe" /> </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <div class="fixed-action-btn cancel">
                        <input type="button" class="btn-floating btn-danger pull-right" ng-click="asesoriasVm.removeAse()">
                    </div>
                    <div class="fixed-action-btn">

                        <button type="submit" ng-click="asesoriasVm.addNewAse()" ng-disabled="aAsesoriasForm.$invalid" class="btn-floating btn-large waves-effect waves-light btn-primary addnew pull-right tooltipped" data-position="left"
                            data-delay="20" data-tooltip="Agregar Línea"><i class="material-icons">add</i></button>
                    </div>
                </div>
                <br>
                <div class="row center" input-field>
                    <button ng-disabled="aAsesoriasForm.$invalid" type="submit" class="waves-effect waves-light btn">Guardar Apartado</button>
                </div>
        </div>
    </div>
</div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('.tooltipped').tooltip({ delay: 50 });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".close").on( "click", function() {
			    $('.contenido-alert').remove(); 
		 });
    });
</script>