<link rel="stylesheet" type="text/css" href="css/apartados.css">

<div class="container white contenido" ng-controller="menuPrincipalCtrl as mnuPVm">
	<div class="row">
        <div class="col s12"> 
            <form ng-submit="mnuPVm.addNewComE()">
                <table class="table">
                    <thead>
                        <tr>
                            <th><input type="checkbox" ng-model="selectedAll" ng-click="mnuPVm.checkAllComE()"/></th>
                            <th>Universidad / Centro de estudio</th>
                            <th>Tipo de estudio</th>
                            <th>Nombre específico del estudio</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Graduación</th>
                            <th>Fecha Obtención de autorización</th>
                            <th>Aportes institucionales obtenidos y/o esperados</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="comE in mnuPVm.comisionE">
                            <td><input type="checkbox" ng-model="comE.selected"/></td>
                            <td><input type="text" class="form-control" ng-model="comE.universidad" required/></td>
                            <td><input type="text" class="form-control" ng-model="comE.tipoEstudio" required/></td>
                            <td><input type="text" class="form-control" ng-model="comE.nombreEstudio" required/></td>
                            <td>
                            <input input-date 
                                type="text" 
                                name="fecha" 
                                id="fechaRealizacion" 
                                class="form-control" 
                                ng-model="comE.fechaIni" 
                                format="mm/dd/yyyy" 
                                months-full="{{mnuPVm.month}}" 
                                months-short="{{mnuPVm.monthShort}}" 
                                weekdays-full="{{mnuPVm.weekdaysFull}}" weekdays-letter="{{mnuPVm.weekdaysLetter}}"  
                                min="{{mnuPVm.minDate}}"
                                max="{{mnuPVm.maxDate}}"
                                today="mnuPVm.today"
                                first-day="1"
                                clear="mnuPVm.clear"
                                close="mnuPVm.close"
                                select-years="15"
                                required> </td>
                            <td>
                            <input input-date 
                                type="text" 
                                name="fecha" 
                                id="fechaRealizacion" 
                                class="form-control" 
                                ng-model="comE.fechaG" 
                                format="mm/dd/yyyy" 
                                months-full="{{mnuPVm.month}}" 
                                months-short="{{mnuPVm.monthShort}}" 
                                weekdays-full="{{mnuPVm.weekdaysFull}}" weekdays-letter="{{mnuPVm.weekdaysLetter}}"  
                                min="{{mnuPVm.minDate}}"
                                max="{{mnuPVm.maxDate}}"
                                today="mnuPVm.today"
                                first-day="1"
                                clear="mnuPVm.clear"
                                close="mnuPVm.close"
                                select-years="15"
                                required> </td>
                            <td>
                            <input input-date
                                type="text"
                                name="fecha"
                                id="fechaRealizacion"
                                class="form-control" 
                                ng-model="comE.fechaOA"                
                                format="mm/dd/yyyy"
                                months-full="{{mnuPVm.month}}"
                                months-short="{{mnuPVm.monthShort}}"
                                weekdays-full="{{mnuPVm.weekdaysFull}}"
                                weekdays-letter="{{mnuPVm.weekdaysLetter}}"         
                                min="{{mnuPVm.minDate}}"
                                max="{{mnuPVm.maxDate}}"
                                today="mnuPVm.today"
                                first-day="1"
                                clear="mnuPVm.clear"
                                close="mnuPVm.close"
                                select-years="15"
                                required> </td>
                            <td> <input type="text" class="form-control" ng-model="comE.aportes" required/> </td>
                        </tr>
                    </tbody>
                </table>
                    <div class="form-group">
                        <input type="button" class="btn btn-danger pull-right" ng-click="mnuPVm.removeComE()" value="Eliminar">

                        <div class="fixed-action-btn">
                        <button type="submit" class="btn-floating btn-large waves-effect waves-light btn-primary addnew pull-right tooltipped" data-position="left" data-delay="20" data-tooltip="Agregar Línea"><i class="material-icons">add</i></button>
                        </div>
                       
                    </div>
            </form>      
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });
</script>