<link rel="stylesheet" type="text/css" href="css/apartados.css">

<div ng-show="aDocenciaDirectaForm.$pristine" class="alert alert-info contenido container contenido-alert">
    <a class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <strong>¡Importante!</strong> Recuerda siempre agregar todas tus asignaturas antes de presionar el botón "Guardar Apartado".
</div>

<form name="aDocenciaDirectaForm" autocomplete="off" ng-submit="docenciaDirectaVm.aDocenciaDirecta()">
    <div class="container white contenido">
        <div class="row">
            <div class="col s12">
                <table class="table">
                    <thead>
                        <tr>
                            <th><input type="checkbox" ng-model="selectedAll" ng-click="docenciaDirectaVm.checkAllDD()" /></th>
                            <th id="asig">*Nombre Asignatura</th>
                            <th id="cod">*Código</th>
                            <th class="num">*Grupo</th>
                            <th class="num">*Número de Estudiantes</th>
                            <th class="num">*Horas Semanales</th>
                            <th class="num">*Horas Semestre</th>
                            <th class="eval">Evaluación Estudiante</th>
                            <th class="eval">Evaluación Jefe</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="dd in docenciaDirectaVm.docenciaDirecta">
                            <td>
                                <input type="checkbox" ng-model="dd.selected" /></td>
                            <td>
                                <input name="nombre_asignatura" type="text" class="form-control validate" ng-model="dd.nombre_asignatura" required/></td>
                            <td>
                                <input name="codigo_asignatura" id="codigo_asignatura" type="text" class="form-control validate" data-length="10" ng-model="dd.codigo_asignatura"
                                    required/></td>
                            <td>
                                <input name="grupo_asignatura" type="number" class="form-control validate" min="1" ng-model="dd.grupo_asignatura" required/></td>
                            <td>
                                <input name="numero_estudiantes" type="number" min="1" max="100" class="form-control validate" ng-model="dd.numero_estudiantes"
                                    required/></td>
                            <td>
                                <input name="horas_semanales" type="number" min="{{docenciaDirectaVm.min}}" max="{{docenciaDirectaVm.max}}" ng-change="docenciaDirectaVm.calculahoras(dd)"
                                    class="form-control validate" ng-model="dd.horas_semanales" required/>
                                <td>
                                    <input name="horas_semestrales" type="number" class="form-control" ng-model="dd.horas_semestrales"
                                        readonly/></td>
                                <td>
                                    <input name="estudiante" type="number" min="1" max="5" class="form-control validate" ng-model="dd.estudiante" /></td>
                                <td>
                                    <input name="jefe" type="number" min="1" max="5" class="form-control validate" ng-model="dd.jefe" /></td>
                        </tr>
                    </tbody>
                </table>

                <div class="form-group">
                    <div class="fixed-action-btn cancel">
                        <a class="btn-floating waves-effect waves-light btn red" ng-click="docenciaDirectaVm.removeDD()" title="Eliminar Línea">
                            <i class="material-icons">&#xE15B;</i>
                        </a>
                    </div>
                    <div class="fixed-action-btn add">
                        <button type="submit" ng-disabled="aDocenciaDirectaForm.$invalid" ng-click="docenciaDirectaVm.addNewDD()" class="btn-floating btn-large waves-effect waves-light"
                            title="Agregar Línea">
                            <i class="material-icons">&#xE145;</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container white contenido">
        <div class="row">
            <div class="input-field col s12 areaO" style="padding-right:3%;">
                <textarea ng-model="docenciaDirectaVm.observacion.observaciones_dd" name="observaciones_dd" class="materialize-textarea validate"
                    data-length="1000"></textarea>
                <label for="observaciones_dd">Observaciones</label>
            </div>
        </div>
        <br>
        <div class="row center" input-field>
            <button ng-disabled="aDocenciaDirectaForm.$invalid" type="submit" class="waves-effect waves-light btn">Guardar Apartado</button>
        </div>

        <div class="form-group">
            <div class="fixed-action-btn add_observaciones">
                <a class="btn-floating btn-large waves-effect waves-light blue modal-action modal-close modal-trigger btn" data-target='modalObservaciones' modal>
                    <i class="material-icons">&#xE85F;</i> </a>
            </div>
        </div>

    </div>
</form>

<script type="text/javascript" src="js/todoScript.js"></script>