<link rel="stylesheet" type="text/css" href="css/apartados.css">

<!--<div class="row ">
    <div class="col s12">
        <div class="col s12">
            <ul tabs class="tabs">
                <li class="tab col s6"><a href="#semillerogrupoI">Semillero/Grupo</a></li>
                <li class="tab col s6"><a href="#proyecyoI">Proyecto</a></li>
            </ul>
        </div>
    </div> 
</div>-->
<form name="aInvestigacionesForm" autocomplete="off" ng-submit="investigacionesVm.aInvestigaciones()">
    <!--SEMILLERO GRUPO DE INVESTIGACIÓN-->
    <div class="container white contenido" id="semillerogrupoI">
        <div class="row">
            <div class="col s12">
                <table class="table">
                    <thead>
                        <tr>
                            <th><input type="checkbox" ng-model="selectedAllG" ng-click="investigacionesVm.gInvCheckAll()" /></th>
                            <th class="invgr">Nombre del Semillero y/o Grupo</th>
                            <th id="gvinculo">Tipo de vínculo
                                <br>(Director ó Miembro)
                            </th>
                            <th class="act">Actividad desarrollada</th>
                            <th class="prod">Productos para cada actividad</th>
                            <th class="invnum">Horas Semanales</th>
                            <th class="invnum">Horas Semestre</th>
                            <th>Vo. Bo. Coordinación Investigación</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="gI in investigacionesVm.gruposInvestigaciones">
                            <td>
                                <input type="checkbox" ng-model="gI.selectedG" /></td>
                            <td>
                                <input name="nombre_semillero" type="text" class="form-control" ng-model="gI.nombre_semillero" required/></td>
                            <td>
                                <input name="tblVinculoId" type="text" class="form-control" ng-model="gI.tblVinculoId" required/></td>
                            <td>
                                <input name="actividad_desarrollada" type="text" class="form-control" ng-model="gI.actividad_desarrollada" required/></td>
                            <td>
                                <input name="producto" type="text" class="form-control" ng-model="gI.producto" required/></td>
                            <td>
                                <input name="horas_semanales" type="number" class="form-control" ng-model="gI.horas_semanales" required/></td>
                            <td>
                                <input name="horas_semestrales" type="number" class="form-control" ng-model="gI.horas_semestrales" required/></td>
                            <td>
                                <input name="aprobado" type="checkbox" ng-model="gI.aprobado" required/></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <div class="fixed-action-btn cancel">
                        <input type="button" class="btn-floating btn-danger pull-right" ng-click="investigacionesVm.gInvRemove()">
                    </div>
                    <div class="fixed-action-btn">
                        <button type="submit" ng-click="investigacionesVm.gInvAddNew()" class="btn-floating btn-large waves-effect waves-light btn-primary addnew pull-right tooltipped"
                            data-position="left" data-delay="20" data-tooltip="Agregar Línea"><i class="material-icons">add</i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!--PROYECTOS DE INVESTIGACIÓN-->
    <div class="container white contenido" id="proyectoI">
        <div class="row">
            <div class="col s12">
                <table class="table">
                    <thead>
                        <tr>
                            <th><input type="checkbox" ng-model="selectedAllP" ng-click="investigacionesVm.pInvCheckAll()" /></th>
                            <th id="invgr">Nombre del Proyecto de Investigación (En ejecución)</th>
                            <th id="vinculo">Tipo de vínculo
                                <br>(Investigador principal ó Co-investigador)
                            </th>
                            <th class="act">Objetivo principal del trabajo de investigación</th>
                            <th class="prod">Productos finales de la investigación</th>
                            <th class="num">Horas Semanales</th>
                            <th class="num">Horas Semestre</th>
                            <th>Vo. Bo. Coordinación Investigación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pI in investigacionesVm.proyectosInvestigaciones">
                            <td>
                                <input type="checkbox" ng-model="pI.selectedP" /></td>
                            <td>
                                <input name="nombre_proyecto" type="text" class="form-control" ng-model="pI.nombre_proyecto" required/></td>
                            <td>
                                <input name="tblVinculoId" type="text" class="form-control" ng-model="pI.tblVinculoId" required/></td>
                            <td>
                                <input name="objetivo_principal" type="text" class="form-control" ng-model="pI.objetivo_principal" required/></td>
                            <td>
                                <input name="producto" type="text" class="form-control" ng-model="pI.producto" required/></td>
                            <td>
                                <input name="horas_semanales" type="number" class="form-control" ng-model="pI.horas_semanales" required/></td>
                            <td>
                                <input name="horas_semestrales" type="number" class="form-control" ng-model="pI.horas_semestrales" required/></td>
                            <td>
                                <input name="aprobado" type="checkbox" ng-model="pI.aprobado" required/></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <input type="button" class="btn btn-danger pull-right" ng-click="investigacionesVm.pInvRemove()" value="Eliminar">
                    <button type="submit" class="btn waves-effect waves-light btn-primary" ng-click="investigacionesVm.pInvAddNew()">Agregar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row center" input-field>
        <button ng-disabled="" type="submit" class="waves-effect waves-light btn">Guardar Apartado</button>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('.tooltipped').tooltip();
    });

</script>