<link rel="stylesheet" type="text/css" href="css/apartados.css">

<div ng-show="aInvestigacionesForm.$pristine" class="alert alert-info contenido container contenido-alert">
    <a class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <strong>¡Importante!</strong> Recuerda siempre agregar todas tus investigaciones antes de presionar el botón "Guardar
    Apartado".
</div>
<form name="aInvestigacionesForm" autocomplete="off" ng-submit="investigacionesVm.aInvestigaciones()">
    <div class="container white contenido">
        <div class="row">
            <div class="col s12">
                <table class="table">
                    <thead>
                        <tr>
                            <th><input type="checkbox" ng-model="selectedAllP" ng-click="investigacionesVm.pInvCheckAll()" /></th>
                            <th id="invgr">*Nombre del Proyecto de Investigación (En ejecución)</th>
                            <th id="vinculo">*Tipo de vínculo</th>
                            <th class="act">*Objetivo principal del trabajo de investigación</th>
                            <th class="prod">*Productos finales de la investigación</th>
                            <th class="num">*Horas Semanales</th>
                            <th class="num">*Horas Semestre</th>
                            <th>Vo. Bo. Coordinación Investigación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pI in investigacionesVm.proyectosInvestigaciones">
                            <td>
                                <input type="checkbox" ng-model="pI.selectedP" /></td>
                            <td>
                                <input name="nombre_proyecto" type="text" class="form-control validate" ng-model="pI.nombre_proyecto" required/></td>
                             <td><select id="tblVinculoId" name="tblVinculoId" ng-model="pI.tblVinculoId" material-select watch required>
                                    <option ng-repeat="vinculos in investigacionesVm.vinculosP">{{vinculos}}</option>
                                 </select></td>
                            <td>
                                <input name="objetivo_principal" type="text" class="form-control validate" ng-model="pI.objetivo_principal" required/></td>
                            <td>
                                <input name="producto" type="text" class="form-control validate" ng-model="pI.producto" required/></td>
                            <td>
                                <input name="horas_semanales" type="number" min="1" max="40" class="form-control validate" ng-model="pI.horas_semanales" required/></td>
                            <td>
                                <input name="horas_semestrales" type="number" class="form-control validate" ng-model="pI.horas_semestrales" disabled/></td>
                            <td>
                                <input name="aprobado" type="checkbox" class="form-control validate" ng-model="pI.aprobado" /></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <div class="fixed-action-btn cancel">
                        <a class="btn-floating waves-effect waves-light btn red" ng-click="investigacionesVm.pInvRemove()" title="Eliminar Línea">
                            <i class="material-icons">&#xE15B;</i>
                        </a>
                    </div>
                    <div class="fixed-action-btn add">
                        <button type="submit" ng-disabled="aInvestigacionesForm.$invalid" ng-click="investigacionesVm.pInvAddNew()" class="btn-floating btn-large waves-effect waves-light" title="Agregar Línea" >
                            <i class="material-icons">&#xE145;</i>
                        </button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="row center" input-field>
        <button ng-disabled="aInvestigacionesForm.$invalid" type="submit" class="waves-effect waves-light btn">Guardar Apartado</button>
    </div>
</form>

<script type="text/javascript" src="js/todoScript.js"></script>