<link rel="stylesheet" type="text/css" href="css/apartados.css">

<div ng-show="aInvestigacionesForm.$pristine" class="alert alert-info contenido container contenido-alert">
    <a class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <strong>¡Importante!</strong> Recuerda siempre agregar todas tus investigaciones antes de presionar el botón "Guardar
    Apartado".
</div>

<!--<div class="row ">
    <div class="col s12">
        <div class="col s12">
            <ul tabs class="tabs">
                <li class="tab col s6"><a href="#semillerogrupoI">Semillero/Grupo</a></li>
                <li class="tab col s6"><a href="#proyecyoI">Proyecto</a></li>
            </ul>
        </div>
    </div> 
</div>-->
<form name="aInvestigacionesForm" autocomplete="off" ng-submit="investigacionesVm.aInvestigaciones()">
    <!--SEMILLERO GRUPO DE INVESTIGACIÓN-->
    <div class="container white contenido" id="semillerogrupoI">
        <div class="row">
            <div class="col s12">
                <table class="table">
                    <thead>
                        <tr>
                            <th><input type="checkbox" ng-model="selectedAllG" ng-click="investigacionesVm.gInvCheckAll()" /></th>
                            <th class="invgr">*Nombre del Semillero y/o Grupo</th>
                            <th id="gvinculo">*Tipo de vínculo
                                <br>(Director ó Miembro)
                            </th>
                            <th class="act">*Actividad desarrollada</th>
                            <th class="prod">*Productos para cada actividad</th>
                            <th class="invnum"*>Horas Semanales</th>
                            <th class="invnum">Horas Semestre</th>
                            <th>Vo. Bo. Coordinación Investigación</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="gI in investigacionesVm.gruposInvestigaciones">
                            <td>
                                <input type="checkbox" ng-model="gI.selectedG" /></td>
                            <td>
                                <input name="nombre_semillero" type="text" class="form-control validate" ng-model="gI.nombre_semillero" required/></td>
                            <td><select id="tblVinculoId" name="tblVinculoId" ng-model="gI.tblVinculoId" material-select watch required>
                                    <option ng-repeat="vinculos in investigacionesVm.vinculosG">{{vinculos}}</option>
                                 </select></td>
                            <td>
                                <input name="actividad_desarrollada" type="text" class="form-control validate" ng-model="gI.actividad_desarrollada" required/></td>
                            <td>
                                <input name="producto" type="text" class="form-control validate" ng-model="gI.producto" required/></td>
                            <td>
                                <input name="horas_semanales" type="number" min="1" max="40" class="form-control validate" ng-model="gI.horas_semanales" required/></td>
                            <td>
                                <input name="horas_semestrales" type="number" class="form-control validate" ng-model="gI.horas_semestrales" disabled/></td>
                            <td>
                                <input name="aprobado" type="checkbox" class="form-control validate" ng-model="gI.aprobado" /></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <div class="fixed-action-btn cancel">
                        <input type="button" class="btn-floating btn-danger pull-right" ng-click="investigacionesVm.gInvRemove()">
                    </div>
                    <div class="fixed-action-btn">
                        <button type="submit" ng-disabled="aInvestigacionesForm.$invalid" ng-click="investigacionesVm.gInvAddNew()" class="btn-floating btn-large waves-effect waves-light btn-primary addnew pull-right tooltipped"
                            data-position="left" data-delay="20" data-tooltip="Agregar Línea"><i class="material-icons">add</i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!--PROYECTOS DE INVESTIGACIÓN-->
    <div class="container white contenido" id="proyectoI">
        <div class="row">
            <div class="col s12">
                <table class="table">
                    <thead>
                        <tr>
                            <th><input type="checkbox" ng-model="selectedAllP" ng-click="investigacionesVm.pInvCheckAll()" /></th>
                            <th id="invgr">*Nombre del Proyecto de Investigación (En ejecución)</th>
                            <th id="vinculo">*Tipo de vínculo</th>
                            <th class="act">*Objetivo principal del trabajo de investigación</th>
                            <th class="prod">*Productos finales de la investigación</th>
                            <th class="num">*Horas Semanales</th>
                            <th class="num">Horas Semestre</th>
                            <th>Vo. Bo. Coordinación Investigación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pI in investigacionesVm.proyectosInvestigaciones">
                            <td>
                                <input type="checkbox" ng-model="pI.selectedP" /></td>
                            <td>
                                <input name="nombre_proyecto" type="text" class="form-control validate" ng-model="pI.nombre_proyecto" required/></td>
                             <td><select id="tblVinculoId" name="tblVinculoId" ng-model="pI.tblVinculoId" material-select watch required>
                                    <option ng-repeat="vinculos in investigacionesVm.vinculosP">{{vinculos}}</option>
                                 </select></td>
                            <td>
                                <input name="objetivo_principal" type="text" class="form-control validate" ng-model="pI.objetivo_principal" required/></td>
                            <td>
                                <input name="producto" type="text" class="form-control validate" ng-model="pI.producto" required/></td>
                            <td>
                                <input name="horas_semanales" type="number" min="1" max="40" class="form-control validate" ng-model="pI.horas_semanales" required/></td>
                            <td>
                                <input name="horas_semestrales" type="number" class="form-control validate" ng-model="pI.horas_semestrales" disabled/></td>
                            <td>
                                <input name="aprobado" type="checkbox" class="form-control validate" ng-model="pI.aprobado" /></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <input type="button" class="btn btn-danger pull-right" ng-click="investigacionesVm.pInvRemove()" value="Eliminar">
                    <button type="submit" class="btn waves-effect waves-light btn-primary" ng-disabled="aInvestigacionesForm.$invalid" ng-click="investigacionesVm.pInvAddNew()">Agregar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row center" input-field>
        <button ng-disabled="aInvestigacionesForm.$invalid" type="submit" class="waves-effect waves-light btn">Guardar Apartado</button>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('.tooltipped').tooltip();
    });

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".close").on("click", function () {
            $('.contenido-alert').hide();
        });
    });

</script>