<link rel="stylesheet" type="text/css" href="css/apartados.css">

<div class="container contenido planesDeTrabajo">
    <ul class="collection with-header">
    <li class="collection-header"><h5>Cambios Aprobados</h5></li>
      <li class="collection-item avatar">
        <i class="material-icons circle teal accent-4">&#xE873;</i>
        <span class="title">FD-GC51</span>
        <p>Plan de Trabajo Docente | 2017-1 <br> V1.0</p>
        <a href="#!" class="secondary-content tooltipped" data-position="left" data-delay="50" data-tooltip="Ver plan de trabajo"><i class="material-icons">&#xE8F4;</i>
        </a>
      </li>
    <li class="collection-item avatar">
        <i class="material-icons circle teal accent-4">&#xE873;</i>
        <span class="title">FD-GC51</span>
        <p>Plan de Trabajo Docente | 2017-1 <br> V2.0</p>
        <a href="#!" class="secondary-content tooltipped" data-position="left" data-delay="50" data-tooltip="Ver plan de trabajo"><i class="material-icons">&#xE8F4;</i></a>
      </li>
    <li class="collection-item avatar">
        <i class="material-icons circle teal accent-4">&#xE873;</i>
        <span class="title">Title</span>
        <p>Plan de Trabajo Docente | 2017-1 <br> V3.0</p>
        <a href="#!" class="secondary-content tooltipped" data-position="left" data-delay="50" data-tooltip="Ver plan de trabajo"><i class="material-icons">&#xE8F4;</i></a>
      </li>
  </ul>
</div>
<br>
<div class="container white contenido">
  <div class="row">
        <div class="input-field col s12 areaO" style="padding-right:3%;">
          <textarea id="observaciones" class="materialize-textarea" data-length="1000"></textarea>
            <label for="observciones">Observaciones (Ampliación, Aclaración)</label>
        </div>
  </div>
</div>
<br>

  <div class="container white contenido">
    <div class="row">
      <form action="#">
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" multiple>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Puedes subir uno o más archivos">
      </div>
    </div>
  </form>
    </div>
  </div>



<script type="text/javascript">
  $(document).ready(function() {
    $('textarea#observaciones').characterCounter();
  });

  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });
</script>



