<link rel="stylesheet" type="text/css" href="css/apartados.css">

    <div class="container white contenido">
        <div class="row">
            <div class="col s12">
                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th>Actividad</th>
                            <th>Dedicación Horas Semanales</th>
                            <th>Dedicación Horas Semestre</th>
                            <th>Descripción y Productos</th>
                            <th>
                            <a class="waves-effect waves-light btn p-btn-new green" ng-click="otrasActividadesVm." data-target='modalOActividades'
                                modal>Nuevo</a>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="oact in otrasActividadesVm.otrasActividades">
                        <td>{{oact.nombre_actividad}}</td>
                        <td>{{oact.horas_semanales}}</td>
                        <td>{{oact.horas_semestrales}}</td>
                        <td>{{oact.descripcion_productos}}</td>
                        <td>
                            <a class="waves-effect waves-light btn p-btn blue" ng-click="otrasActividadesVm." data-target='modalOActividades'
                                modal>
                                <i class="material-icons">edit</i>
                            </a>
                            <a class="waves-effect waves-light btn p-btn red" ng-click="otrasActividadesVm.">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                    </tbody> 
                </table>
            </div>
        </div>
    </div>
    <br>
    <!-- resumen general -->
    <div class="container white contenido">
        <div class="row">
            <div class="col s12">
                <table  class="responsive-table">
                    <thead>
                        <tr>
                            <th>*Resumen</th>
                            <th>*Dedicación Horas Semanales</th>
                            <th>*Dedicación Horas Semestre</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td> <input type="text" class="form-control validate" value="Total horas de trabajo en el semestre"
                                    readonly/></td>
                            <td> <input name="horas_semanales_tot" type="number" ng-model="otrasActividadesVm.resumen.horas_semanales_tot"
                                    class="form-control " readonly/> </td>
                            <td> <input name="horas_semestrales_tot" type="number" ng-model="otrasActividadesVm.resumen.horas_semestrales_tot"
                                    class="form-control " readonly /> </td>
                            <td> <input name="observaciones" type="text" ng-model="otrasActividadesVm.resumen.observaciones" class="form-control validate"
                                /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row center">
            <button ng-disabled="aOtrasActividadesForm.$invalid" type="submit" class="waves-effect waves-light btn">Guardar Apartado</button>
        </div>

        <div class="form-group">
            <div class="fixed-action-btn add_observaciones">
                <a class="btn-floating btn-large waves-effect waves-light blue modal-trigger btn" data-target='modalObservaciones' modal>
                    <i class="material-icons">&#xE85F;</i>
                </a>
            </div>
        </div>
    </div>

     <div id="modalOActividades" class="modal">
    <div class="modal-content">
        <h5 class="center">
            <strong>Otras Actividades Académicas</strong>
        </h5>
        <div class="row">
            <form name="aOtrasActividadesForm" autocomplete="off" ng-submit="otrasActividadesVm.aOtrasActividades()">
                <div class="input-field col l12 s12 cajasombra">
                    <input name="nombre_actividad" type="text" class="form-control validate" ng-model="oact.nombre_actividad"
                                   placeholder="Nombre de la Actividad" required/>
                </div>
                <div class="input-field col l6 s6 cajasombra">
                    <input name="horas_semanales" type="number" ng-change="otrasActividadesVm.calculahoras(oact)"
                                    class="form-control validate" ng-model="oact.horas_semanales" placeholder="Horas Semanales" required/>
                </div>
                <div class="input-field col l6 s6 cajasombra">
                     <input name="horas_semestrales" type="number" class="form-control" ng-model="oact.horas_semestrales"
                                   placeholder="Horas Semestrales" disabled/>
                </div>
                <div class="input-field col l12 s12 cajasombra">
                    <input name="descripcion_productos" type="text" class="form-control validate" ng-model="oact.descripcion_productos" placeholder="Descripción de Productos"/> 
                </div>

                <div class="input-field col l12 s12 center ">
                    <button ng-disabled="aOtrasActividadesForm.$invalid" type="submit" class="waves-effect btn modal-close">Guardar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-red btn-flat">Cerrar</button>
    </div>
</div>


<script type="text/javascript" src="js/todoScript.js"></script>