<link rel="stylesheet" type="text/css" href="css/apartados.css">

<form name="aOtrasActividadesForm" autocomplete="off" ng-submit="otrasActividadesVm.aOtrasActividades()">
    <div>
        <div class="container white contenido">
            <div class="row">
                <div class="col s12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><input type="checkbox" ng-model="selectedAll" ng-click="otrasActividadesVm.checkAllOAct()" /></th>
                                <th>Actividad</th>
                                <th>Dedicación Horas Semanales</th>
                                <th>Dedicación Horas Semestre</th>
                                <th>Descripción y Productos</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="oact in otrasActividadesVm.otrasActividades">
                                <td><input type="checkbox" ng-model="oact.selected" /></td>
                                <td><input type="text" class="form-control" ng-model="oact.actividad" required/></td>
                                <td> <input type="number" class="form-control" ng-model="oact.hSemanaO" required/> </td>
                                <td> <input type="number" class="form-control" ng-model="oact.hSemestreO" required/> </td>
                                <td> <input type="text" class="form-control" ng-model="oact.descProductos" /> </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div class="fixed-action-btn cancel">
                            <input type="button" class="btn-floating btn-danger pull-right" ng-click="otrasActividadesVm.removeOAct()">
                        </div>
                        <div class="fixed-action-btn">
                            <button type="submit" ng-click="otrasActividadesVm.addNewOAct()" class="btn-floating btn-large waves-effect waves-light btn-primary addnew pull-right tooltipped" data-position="left"
                                data-delay="20" data-tooltip="Agregar Línea"><i class="material-icons">add</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- resumen general -->
        <div class="container white contenido">
            <div class="row">
                <div class="col s12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Resumen</th>
                                <th>Dedicación Horas Semanales</th>
                                <th>Dedicación Horas Semestre</th>
                                <th>Observaciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td><input type="text" ng-model="otrasActividadesVm.otrasActividades.totalHS" class="form-control" value="Total horas de trabajo en el semestre" required/></td>
                                <td> <input type="number" ng-model="otrasActividadesVm.otrasActividades.hSemanaTotal" class="form-control" value="40" required/> </td>
                                <td> <input type="number" ng-model="otrasActividadesVm.otrasActividades.hSemestreTotal" class="form-control" value="900" required/> </td>
                                <td> <input type="text"ng-model="otrasActividadesVm.otrasActividades.observacionesOA" class="form-control" value=" " /> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row center" input-field>
            <button ng-disabled="" type="submit" class="waves-effect waves-light btn">Guardar Apartado</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('.tooltipped').tooltip({ delay: 50 });
    });

</script>