<link rel="stylesheet" type="text/css" href="css/apartados.css">

<div ng-show="aOtrasActividadesForm.$pristine" class="alert alert-info contenido container contenido-alert">
    <a class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <strong>¡Importante!</strong> Recuerda siempre agregar todas tus otras actividades académicas antes de presionar el botón
    "Guardar Apartado".
</div>

<form name="aOtrasActividadesForm" autocomplete="off" ng-submit="otrasActividadesVm.aOtrasActividades()">
    <div class="container white contenido">
        <div class="row">
            <div class="col s12">
                <table class="table">
                    <thead>
                        <tr>
                            <th><input type="checkbox" ng-model="selectedAll" ng-click="otrasActividadesVm.checkAllOAct()" /></th>
                            <th>*Actividad</th>
                            <th>*Dedicación Horas Semanales</th>
                            <th>*Dedicación Horas Semestre</th>
                            <th>Descripción y Productos</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="oact in otrasActividadesVm.otrasActividades">
                            <td><input type="checkbox" ng-model="oact.selected" /></td>
                            <td><input name="nombre_actividad" type="text" class="form-control validate" ng-model="oact.nombre_actividad"
                                    required/></td>
                            <td> <input name="horas_semanales" type="number" ng-change="otrasActividadesVm.calculahoras(oact)"
                                    class="form-control validate" ng-model="oact.horas_semanales" required/>
                            </td>
                            <td> <input name="horas_semestrales" type="number" class="form-control" ng-model="oact.horas_semestrales"
                                    disabled/> </td>
                            <td> <input name="descripcion_productos" type="text" class="form-control validate" ng-model="oact.descripcion_productos"
                                /> </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <div class="fixed-action-btn cancel">
                        <a class="btn-floating waves-effect waves-light btn red" ng-click="otrasActividadesVm.removeOAct()" title="Eliminar Línea">
                            <i class="material-icons">&#xE15B;</i>
                        </a>
                    </div>
                    <div class="fixed-action-btn add">
                        <button type="submit" ng-click="otrasActividadesVm.addNewOAct()" ng-disabled="aOtrasActividadesForm.$invalid" class="btn-floating btn-large waves-effect waves-light"
                            title="Agregar Línea">
                            <i class="material-icons">&#xE145;</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- resumen general -->
    <div class="container white contenido">
        <div class="row">
            <div class="col s12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>*Resumen</th>
                            <th>*Dedicación Horas Semanales</th>
                            <th>*Dedicación Horas Semestre</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td> <input type="text" class="form-control validate" value="Total horas de trabajo en el semestre"
                                    readonly/></td>
                            <td> <input name="horas_semanales_tot" type="number" ng-model="otrasActividadesVm.resumen.horas_semanales_tot"
                                    class="form-control " readonly/> </td>
                            <td> <input name="horas_semestrales_tot" type="number" ng-model="otrasActividadesVm.resumen.horas_semestrales_tot"
                                    class="form-control " readonly /> </td>
                            <td> <input name="observaciones" type="text" ng-model="otrasActividadesVm.resumen.observaciones" class="form-control validate"
                                /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row center">
        <button ng-disabled="aOtrasActividadesForm.$invalid" type="submit" class="waves-effect waves-light btn">Guardar Apartado</button>
    </div>
</form>

<script type="text/javascript" src="js/todoScript.js"></script>