<link rel="stylesheet" type="text/css" href="css/apartados.css">

<div class="container white contenido">
    <div class="row">
        <div class="col s12">
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Etapa</th>
                        <th>Facultad</th>
                        <th>Semetre</th>
                        <th>Año</th> 
                        <th>Fecha Inicial</th>
                        <th>Fecha Final</th>
                        <th>
                            <a class="waves-effect waves-light btn p-btn-new green" ng-click="fechaEtapaVm.vaciarMadal()" data-target='modalFechaEtapa'
                                modal>Nuevo</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="fe in fechaEtapaVm.fechaEtapa">
                        <td>{{fe.tblEtapaId.etapa}}</td>
                        <td>{{fe.tblFacultadeId.facultad}}</td>
                        <td>{{fe.semestre}}</td>
                        <td>{{fe.ano}}</td>
                        <td>{{fe.fecha_inicial | date}}</td>
                        <td>{{fe.fecha_final | date}}</td>
                        <td>
                            <a class="waves-effect waves-light btn p-btn blue" ng-click="fechaEtapaVm.llenarModal(fe)" data-target='modalFechaEtapa'
                                modal>
                                <i class="material-icons">edit</i>
                            </a>
                            <a class="waves-effect waves-light btn p-btn red" ng-click="fechaEtapaVm.deleteFechaEtapa(fe)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modalFechaEtapa" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5 class="center">
            <strong>Fecha Etapas</strong>
        </h5>
        <div class="row" ng-controller="menuPrincipalCtrl as mnuPVm">
            <form id="formFechaEtapa" name="fechaEtapaForm" autocomplete="off" ng-submit="fechaEtapaVm.accion()">
                <div class="input-field col l3 offset-l1 s6 cajasombra">
                    <select id="tblEtapaId" ng-disabled="fechaEtapaVm.acciones == 2" name="tblEtapaId" ng-model="fechaEtapaVm.formfechaEtapa.tblEtapaId" material-select watch required>
                        <option value="0" disabled>Etapa</option>
                        <option ng-repeat="fe in fechaEtapaVm.etapas">{{fe.etapa}}</option>
                    </select>
                </div>
                <div class="input-field col l3 s6 cajasombra">
                    <input id="tblFacultadeId" type="text" class="no-disabled" name="tblFacultadeId" ng-model="fechaEtapaVm.formfechaEtapa.tblFacultadeId"
                        required disabled>
                </div>
                <div class="input-field col l2 s6 cajasombra">
                    <select id="semestre" ng-disabled="fechaEtapaVm.acciones == 2" name="semestre" ng-model="fechaEtapaVm.formfechaEtapa.semestre" material-select watch required>
                        <option value="0" disabled>Semestre</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
                <div class="input-field col l2 s6 cajasombra">
                    <input id="ano" type="text" class="no-disabled" name="ano" ng-model="fechaEtapaVm.formfechaEtapa.ano" required disabled>
                </div>
                <div class="input-field col l3 s6 offset-l1 cajasombra">
                    <input input-date type="text" name="fecha_inicial" id="fecha_inicial" class="form-control fecha" ng-model="fechaEtapaVm.formfechaEtapa.fecha_inicial"
                        format="mm/dd/yyyy" months-full="{{mnuPVm.month}}" months-short="{{mnuPVm.monthShort}}" weekdays-full="{{mnuPVm.weekdaysFull}}"
                        weekdays-letter="{{mnuPVm.weekdaysLetter}}" min="{{mnuPVm.minDateIExt}}" max="{{mnuPVm.maxDateIExt}}"
                        today="mnuPVm.today" first-day="1" clear="mnuPVm.clear" close="mnuPVm.close" select-years="15" required>
                </div>
                <div class="input-field col l3 s6 cajasombra">
                    <input input-date ng-disabled="!fechaEtapaVm.formfechaEtapa.fecha_inicial" type="text" name="fecha_final" ng-change="mnuPVm.validFechaFinal(fechaEtapaVm.formfechaEtapa)"
                        id="fecha_final" class="form-control fecha no-disabled" ng-model="fechaEtapaVm.formfechaEtapa.fecha_final"
                        format="mm/dd/yyyy" months-full="{{mnuPVm.month}}" months-short="{{mnuPVm.monthShort}}" weekdays-full="{{mnuPVm.weekdaysFull}}"
                        weekdays-letter="{{mnuPVm.weekdaysLetter}}" min="{{fechaEtapaVm.fechaFinalValida}}" max="{{mnuPVm.maxDateFExt}}"
                        today="mnuPVm.today" first-day="1" clear="mnuPVm.clear" close="mnuPVm.close" select-years="15" required>
                </div>

                <div class="input-field col s12 center ">
                    <button ng-disabled="fechaEtapaForm.$invalid" type="submit" class="waves-effect btn modal-close">Guardar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-red btn-flat">Cerrar</button>
    </div>
</div>