<link rel="stylesheet" type="text/css" href="css/menuPrincipal.css">

<div class="menuPContainer">

  <div class="row white">
    <div class="col s12">
      <div class="col s12">
        <ul tabs class="tabs">
          <li class="tab col s4">
            <a href="#ptd" onclick="openMenu();">Plan de Trabajo</a>
          </li>
          <li class="tab col s4">
            <a href="#reportes" onclick="openMenu();">Reportes</a>
          </li>
          <li class="tab col s4">
            <a href="#usuarios" onclick="openMenu();">Usuarios</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="ptd" class="col s12">

    <div>
      <ui-view></ui-view>
    </div>

    <ul id="slide-out" class="side-nav collapsible fixed" data-collapsible="expandable">
      <li>
        <a ui-sref="menuPrincipal.vistaPTD" class="waves-effect">
          <i class="material-icons">&#xE8E9;</i>Vista Plan de Trabajo</a>
      </li>

      <li>
        <div class="divider"></div>
      </li>

      <li>
        <div class="collapsible-header">
          <i class="material-icons">&#xE873;</i>Apartados PTD</div>
        <div class="collapsible-body">

          <ul>
            <li>
              <a ui-sref="menuPrincipal.AinfoGeneral" class="waves-effect">Información General</a>
            </li>
          </ul>

          <ul>
            <li>
              <a ui-sref="menuPrincipal.AdocenciaDirecta" class="waves-effect">Docencia Directa</a>
            </li>
          </ul>

          <ul>
            <li>
              <a ui-sref="menuPrincipal.AinvestigacionesS" class="waves-effect">Semilleros Investigación</a>
            </li>
          </ul>

          <ul>
            <li>
              <a ui-sref="menuPrincipal.AinvestigacionesP" class="waves-effect">Proyectos Investigación</a>
            </li>
          </ul>

          <ul>
            <li>
              <a ui-sref="menuPrincipal.Aextension" class="waves-effect">Extensión y Proyección</a>
            </li>
          </ul>

          <ul>
            <li>
              <a ui-sref="menuPrincipal.AcomisionEstudios" class="waves-effect">Comisión de Estudios</a>
            </li>
          </ul>

          <ul>
            <li>
              <a ui-sref="menuPrincipal.Aproyectos" class="waves-effect">Proyectos y Publicaciones</a>
            </li>
          </ul>

          <ul>
            <li>
              <a ui-sref="menuPrincipal.Aasesorias" class="waves-effect">Asesorias en Proyectos</a>
            </li>
          </ul>

          <ul>
            <li>
              <a ui-sref="menuPrincipal.AotrasActividades" class="waves-effect">Otras Actividades Académicas</a>
            </li>
          </ul>

          <ul>
            <li>
              <a ui-sref="menuPrincipal.Aobservaciones" class="waves-effect">Observaciones</a>
            </li>
          </ul>

          <ul>
            <li>
              <a href="#!" class="waves-effect">Seguimientos y Evaluación</a>
            </li>
          </ul>

          <li>
            <div class="divider"></div>
          </li>

          <li>
            <div class="collapsible-header">
              <i class="material-icons">&#xE8B8;</i>Configuración
            </div>
            <div class="collapsible-body">

              <ul>
                <li>
                  <a href="#!" class="waves-effect">Administración de Fechas</a>
                </li>
              </ul>

              <ul>
                <li>
                  <a href="#!" class="waves-effect">Observaciones Decano</a>
                </li>
              </ul>
            </div>
          </li>
        </div>
      </li>
    </ul>
  </div>

  <!-- Menú Plan de Trabajo -- >
        <div id="plan" class="col s12">
          <div>
           <ui-view></ui-view>
          </div>
        </div>

        <!-- Menú Reportes -->
  <!--<div id="reportes" class="col s12">

    <ul id="slide-out" class="side-nav collapsible fixed ">
      <li>
        <div class="collapsible-header waves-effect">
          <i class="material-icons">&#xE01D;</i>Ver reportes
        </div>
        <div class="collapsible-body">
          <ul>
            <li><a href="#!" class="waves-effect"><i class="material-icons">&#xE853;</i>Semestre</a></li>
            <li><a href="#!" class="waves-effect"><i class="material-icons">&#xE853;</i>Facultad</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="divider"></div>
      </li>

      <li>
        <a href="#!" class="waves-effect  "><i class="material-icons">&#xE85C;</i>Generar Reportes</a>
      </li>


    </ul>
  </div>-->
  <!-- Menú Usuarios -->
  <!--<div id="usuarios" class="col s12">

    <ul id="slide-out" class="side-nav collapsible fixed ">
      <li>
        <a href="#!" class="waves-effect  "><i class="material-icons">&#xE8D3;</i>Admin de Permisos</a>
      </li>
      <li>
        <div class="divider"></div>
      </li>

    </ul>
  </div>-->
</div>

</div>
<script type="text/javascript">
  $('.button-collapse').sideNav({ closeOnClick: true });

  function openMenu() {
    setTimeout(function(){
      if ($('.menuPContainer ul.tabs.ng-isolate-scope li:first-child a[class="active"]').length === 0) {
        $('.button-collapse').hide();
      }else{
        $('.button-collapse').show();
      }
    },10);
  }
</script>