
<ul class="collection">
    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Reportes generales Facultad de ingenieria</span>
      <ul>
          <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">2018-1</span>
            <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
         </li>
      </ul>
    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Planes de trabajo anteriores Facultad de ingenieria</span>
        <ul>
            <li class="collection-item avatar">
                <i class="material-icons circle green">insert_chart</i>
                <span class="title">2017-2</span>
                <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
            </li>
        </ul>
    </li>
  </ul>