<link rel="stylesheet" type="text/css" href="css/apartados.css">

<div ng-controller="indexCtrl as indexVm">
    <center>
        <a ng-if="menuPrincipalVm.permisoFecha.ver == true" ui-sref="menuPrincipal.fechaEtapa" class="waves-effect waves-light btn p-btn-new blue">Administración de Fechas</a>
    </center>
    <div ng-if="indexVm.loginFactory.user.perfil == 1">
        <div class="container contenido vistaPTD">
            <ul class="collection with-header" ng-if="menuPrincipalVm.plan == true">
                <li class="collection-header">
                    <h6>
                        <b>Tu Actual Plan de Trabajo</b>
                    </h6>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle teal accent-4">&#xE873;</i>
                    <span class="title">FD-GC51</span>
                    <p>Plan de Trabajo Docente
                        <br> 2017-1 </p>
                    <a ng-click="menuPrincipalVm.enrutarPTD()" class="secondary-content">
                        <i class="material-icons">&#xE8F4;</i>
                    </a>
                </li>
            </ul>

            <br>
            <div class="container contenido vistaPTD">
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h6>
                            <b>Antiguos Planes de Trabajo</b>
                        </h6>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle teal accent-4">&#xE873;</i>
                        <span class="title">FD-GC51</span>
                        <p>Plan de Trabajo Docente
                            <br> 2015-1 </p>
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">&#xE8F4;</i>
                        </a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle teal accent-4">&#xE873;</i>
                        <span class="title">FD-GC51</span>
                        <p>Plan de Trabajo Docente
                            <br>2015-2</p>
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">&#xE8F4;</i>
                        </a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle teal accent-4">&#xE873;</i>
                        <span class="title">Title</span>
                        <p>Plan de Trabajo Docente
                            <br>2016-2</p>
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">&#xE8F4;</i>
                        </a>
                    </li>
                </ul>
            </div>
            <br>
        </div>
    </div>

    <div class="container contenido vistaPTD" ng-if="indexVm.loginFactory.user.perfil != 1">
        <div class="input-field col s6">
            <input id="first_name" ng-model="search" type="text" class="validate">
            <label for="first_name">Filtro por nombre</label>
        </div>
        <ul class="collection with-header">
            <li class="collection-header">
                <h6>
                    <b>Planes de Trabajo</b>
                </h6>
            </li>
            <li class="collection-item avatar" ng-repeat="ptd in menuPrincipalVm.ptds | filter:search">
                <i class="material-icons circle teal accent-4">&#xE873;</i>
                <span class="title">FD-GC51</span>
                <p>Plan de Trabajo Docente : {{ptd.tblUsuarioDocIdentidad}}
                    <br>{{ptd.nombre}}
                    <br> {{ptd.fecha | date : 'yyyy'}}-{{ptd.semestre}} V_{{ptd.version}}
                </p>
                <a class="secondary-content" ng-click="menuPrincipalVm.cargarPTD(ptd)">
                    <i class="material-icons">&#xE8F4;</i>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- <script type="text/javascript">
    $(document).ready(function () {
        $('textarea#observaciones').characterCounter();
        $('.tooltipped').tooltip({ delay: 50 });
    });
</script> -->