<!DOCTYPE html>
  <html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" type="text/css" href="css/correo.css">
      <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	  <title>Iconic - Workplan | Politécnico JIC</title>
	  
    </head>
<body>

<div>
	<table cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:600px">
		<tbody>

		<!-- primera linea -->
		<tr style="background-color:#26a69a">
			<td style="padding:20px;margin:0 auto;text-align:center"><img width="100%" style="max-width:40px" src="https://s26.postimg.org/bvq7jho9l/rombo.png" class="CToWUd">
			<span style="color:#fff;font-family:'Calibri','Arial','Trebuchet MS';font-size:25px">
			Iconic - Workplan</span> </td>
		</tr>

		<!-- segunda, tercera y cuarta linea -->
		<tr>
			<td>	
				<tr>
				<td style="padding:20px;text-align:center"><b><span style="color:#616161;font-family:'Calibri','Arial','Trebuchet MS';font-size:25px">Restablecimiento de la Contraseña</span></b>
				</td>
				</tr>

				<tr>
				<td style="padding:20px;text-align:center"><span style="color:#616161;font-family:'Calibri','Arial','Trebuchet MS';font-size:17px">Hola
				<strong>Usuario</strong>, somos Iconic, ¿Has olvidado la contraseña de tu cuenta?, no hay problema, nosotros te ayudamos.</span>
				</td>
				</tr>

				<tr>
				<td style="padding:20px;text-align:center"><span style="color:#616161;font-family:'Calibri','Arial','Trebuchet MS';font-size:17px">Para restablecer tu contraseña por favor da clic en el botón:</span> 
				</td>
				</tr>
			</td>
		</tr>

		<!-- quinta linea -->
		<tr>
			<td>
				<tr>
				<td style="padding:20px;text-align:center">
				<a style="font-family:'Calibri','Arial','Trebuchet MS';color: #fff;background-color: #546e7a ;text-align: center;letter-spacing: .5px;cursor: pointer;border-radius: 2px;display: inline-block;height: 36px;line-height: 36px;padding: 0 2rem;text-transform: uppercase; text-decoration:none" href="url"> Restablecer Contraseña </a>
				</td>
				</tr>
			</td>
		</tr>

		<!-- sexta linea -->
		<tr>
			<td>
				<tr>
				<td style="padding:20px;text-align:center"><span style="color:#616161;font-family:'Calibri','Arial','Trebuchet MS';font-size:17px">Si no solicitaste este correo por favor ignora este mensaje y continúa ingresando con tu contraseña actual.</span> 
				</td>
				</tr>
			</td>
		</tr>

	<!-- septima linea -->
		<tr>
			<td>
				<tr>
				<td><br>
				<div style="background-color:#26a69a;margin:0 auto;text-align:center;padding:15px">
				<span style=" aling: left; color:#fff;font-family:'Calibri','Arial','Trebuchet MS';font-size:12px">Iconic | Workplan © 2017 </span></div>
				</td>
				</tr>
			</td>
		</tr>

		</tbody>
	</table>
</div>

</body>
</html>









