body{
	overflow-x: hidden;
	background-color: #eceff1;
}

.nav-wrapper{ 
	color: #fff;
	background-color: #26a69a;   

}

.header nav .nav-wrapper img {
    width: 100%;
  max-width: 46px;
  padding-top: 5%; 
}

header nav .nav-wrapper span {
  font-family: 'Segoe UI', "Roboto", sans-serif;
  display: inline-block;
  vertical-align: top;
  padding-top: 3px;
}


#logincontainer{  
 	padding-top: 10vh; 
 	width: 100%;
 	padding-left: 12%;
 	padding-right: 12%;
}

div.input-field.col.s12.cajasombra{ 
	padding-left: 20px; 
	padding-right: 30px;
}

div.col.s12.right-align.cajasombra{
	padding-right: 30px;
}

.cajasombra{
	padding-left: 10px;
	padding-right: 10px;
}


div.card-action.amber.lighten-1.footerlogin{
	padding-top: 0px;
	height: 50px;
	color: #424242;

}

.olvidoclave{
	color: #388e3c;
}

.right li ul {
display:none;
}

.right li:hover > ul {
display:block;
}

.card-panel {
  margin-top: 0;
  right: 0.1%;
  display: block;
  position: absolute;
}

.card-panel > li {
  float: none;
}

#name {
  font-size: 1.20rem; 
  color: #424242;
  line-height: 180%;
  text-align: center;	
}

#perfil {
  color: #424242;
  text-align: center;
  font-weight: bold;
}

#select {
 color: #424242;
 text-align: center;
 line-height: 150%;
 padding-bottom: 3px;
}


.indicator {
  background-color: #26a69a;
  bottom: 0;
  height: 2px;
  will-change: left, right;
}

.triangulito {
 margin-left: 30%;
 margin-top: -18%;
 width: 0;
 height: 0;
 border-right: 10px solid transparent;
 border-top: 10px solid transparent;
 border-left: 10px solid transparent;
 border-bottom: 10px solid white;
}

p.texto{
  padding-left: 2.5%;
}

p.titulo{
  padding-top: 5%;
  padding-left: 0.5%;
}

.botonverificar{
  padding-top: 1.5%;
}

.firma{
  padding-left: 10%;
}

.imagenfirma{
  height: 19%;
  width: 19%;
}

.modal.modal-fixed-footer .modal-content{
  overflow-y: hidden;
}

.siguiente{
  color: #fff;
}

.fixed-action-btn{
  bottom: 45%; 
  right: 14%;
}

.again{
  padding-right: 2.9%;
}
 

.notification-badge {
    position: relative;
    top: -15px;
    color: #ffffff;
    background-color: #ffca28;
    margin: 0 -.8em;
    border-radius: 50%;
    padding-right: 1px;
    right: 5px;
}


#chat{
  background-color: #eee;
	width: 100%;
}
#chat #header-chat{
	background-color: #26a69a; 
	color: white;
	padding: 2.2%;
	text-align: center;
}
#caja-mensaje{
	width: 100%;
}
#caja-mensaje input{
	width: 100%;
}
#chat #mensajes{
	padding: 10px;
	height: 380px;
	width: 100%;
	overflow: hidden;
	overflow-y: scroll 
}
#chat #mensajes .mensaje-autor{
		margin-bottom: 4%;
    padding-top: 23%;
}
#chat #mensajes .mensaje-autor .contenido{
	background-color: white;
	border-radius: 5px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
	display: inline-block;
	padding: 10px;
	width: 100%;
}
#chat #mensajes .mensaje-autor .fecha{
	color: #777;
	font-style: italic;
	font-size: 13px;
	text-align: right;
	margin-left: 35px;
	margin-top: 10px;
}
#chat #mensajes .mensaje-amigo{
	  margin-bottom: 4%;
    padding-top: 3%;
}
#chat #mensajes .mensaje-amigo .contenido{
	background-color: #b0bec5;
	border-radius: 5px;
	color: #212121;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
	width: 97%;
}
#chat #mensajes .mensaje-amigo .fecha{
	color: #777;
	font-style: italic;
	font-size: 13px;
	text-align: left;
	
	margin-top: 10px;
}

.mensaje{
  padding-left: 2%;
  margin-bottom: 0px;
}

.fixed-action-btn.subir_observaciones{
	bottom: 5%;
  left: 87%;
}

#modalObservaciones{
  max-height: 100%;
  border-radius: 3%;
}

.message{
  padding-left: 2%;
}
      